[Unit]
Description=Mount SSD1 to /var/mnt/ssd1
After=local-fs.target

[Mount]
What=UUID=0382c346-a3e2-42f4-96f4-0c7efd4c9929
Where=/var/mnt/ssd1
Type=auto
Options=defaults

[Install]
WantedBy=multi-user.target
